# Data Science Tools and Ecosytem

### In this notebook, Data Science Tools and Ecosystem are summarized

### Some of the popular languages that Data Scientist use are:
1. Python
2. SqL
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. MatplotLib
4. ScikitLearn
5. TensorFlow
6.

In [3]:
import pandas as pd
data=["Jupyter Notebook", "RStudio", "VS Code"]
df= pd.DataFrame(data, columns=["Data Science Tools"])
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2            VS Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#### This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
###This will convert 200 minutes into hours by dividing by 60
200/60

3.3333333333333335

# **Objectives**
- Popular Languages for Data Science
- Familiarity with environments like Jupyter Notbook and RStudio
- Familiarity with version control environments like Github

## Author
### Shaakira Osman